* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    font-size: 0.75rem;
}

header {
    background-color: #000;
    color: #fff;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

.wrapper {
    max-width: 940px;
    margin: 0 auto;
}

.wrapper ul {
    list-style: none;
    display: flex;
}

.wrapper ul li a:link,
.wrapper ul li a:visited {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
}

.wrapper ul li a:hover,
.wrapper ul li a:focus {
    color: #fff;
    text-decoration: none;
}

#hero {
    display: flex;
    height: 600px;
    background-image: url(../images/hands-typing.jpg);
    filter: grayscale(0.7);
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

#hero h1 {
    color: #fff;
    max-width: 60%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px 20px;
}

#about-me .wrapper {
    padding: 0 2em;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

#about-me img {
    width: 100%;
}

#services h2 {
    text-align: center;
}

#services {
    padding: 2em 0;
    /* background-color: #fafafa; */
    background-color: #fafafa;
}

#services .wrapper {
    display: grid;
}

.articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    /* top, r&l bottom */
    padding: 2em 1em 3em;
}

.articles article {
    background-color: #fff;
    /* top, r&l bottom */
    padding: 0 1em 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btn {
    background-color: #000;
    border-style: solid;
    border-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    margin-top: auto;
}

.btn:hover {
    background-color: #fff;
    color: #000;
    border-style: solid;
    border-color: #000;
}

#work .wrapper {
    padding: 0 2em;

}

#work h2, #work p {
    text-align: center;
    /* max-width: ; */
}

.works {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.block {
    width: 100%;
}

.block :nth-child(1),
.block :nth-child(2) {
    grid-column: 1;
}

.block :nth-child(3),
.block :nth-child(4),
.block :nth-child(5) {
    grid-column: 2;
}

.gallery{
    padding: 0 1em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "div1 div1 div1 div2 div2 div2"
    "div1 div1 div1 div2 div2 div2"
    "div3 div3 div4 div4 div5 div5"
    "div3 div3 div4 div4 div5 div5"
    ;
}

.gallery .block:nth-child(1) {
    grid-area: div1;
}

.gallery .block:nth-child(2) {
    grid-area: div2;
}

.gallery .block:nth-child(3) {
    grid-area: div3;
}

.gallery .block:nth-child(4) {
    grid-area: div4;
}

.gallery .block:nth-child(5) {
    grid-area: div5;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    margin-top: 5em;
}